<section  ng-init="view = 'thumbs'">
  <button ng-class="button" ng-click="view = 'text'">Links</button>
  <button ng-class="button" ng-click="view = 'thumbs'">Thumbs</button>
  <button ng-class="button" ng-click="view = 'big'">Big</button>

</section>

<section>
  <ul ng-show="view === 'text'">
    <li ng-repeat="image in $ctrl.images">
      <image-text
        image="image">
      </image-text>
    </li>
    
  </ul>

  <ul ng-show="view === 'thumbs'">
    <li ng-repeat="image in $ctrl.images">
      <image-thumbs
        image="image">
      </image-thumbs>
    </li>
    
  </ul>

  <ul ng-show="view === 'big'">
    <li ng-repeat="image in $ctrl.images">
      <image-big
        image="image"
        remove="$ctrl.remove">
      </image-big>
    </li>
    
  </ul>
</section>

<imagify
  image="image"
  add="$ctrl.add">
</imagify>

