@import 'hover', 'b-radius';

button.active {
  @include hover; 
  @include b-radius(12%);
}

.sidebar {
  position: fixed;
  height: 1000px;
  width: 21%;
  overflow: scroll;
  background-color: rgba(0, 206, 209, 0.15);
  box-shadow: 1px 1px 15px #f2f2f2;

}