<div class="sidebar">
  <sidebar>
    <div>
      <albums></albums>
    </div>

  </sidebar>

</div>

<article>
  <h1>Welcome to the Kingdom of Kuddle</h1>

  <section>
    <section>
      <button id="welcome" ui-sref="welcome" ui-sref-active="active">Home</button>
      <button id="images" ui-sref="images" ui-sref-active="active">Images</button>
      <button id="about" ui-sref="about" ui-sref-active="active">About</button>  

    </section>

    <div>
      <ui-view></ui-view>

    </div>
  </section>
</article>