<article>
  <h1>Welcome to the Kingdom of Kuddle</h1>
  <section>
    <button ng-click="app.toggleText()">BunnyLinks</button>
    <button ng-click="app.toggleThumbs()">BunnyThumbs</button>
    <button ng-click="app.toggleBig()">BunnyBig</button>
  </section>

  <section>
  <ul ng-show="app.showText">
    <li ng-repeat="bunny in app.bunnies">
      <bunny-text
      bunny="bunny">
      </bunny-text>
    </li>
  </ul>

  <ul ng-show="app.showThumbs">
    <li ng-repeat="bunny in app.bunnies">
      <bunny-thumbs
      bunny="bunny">
      </bunny-thumbs>
    </li>
  </ul>

  <ul ng-show="app.showBig">
    <li ng-repeat="bunny in app.bunnies">
      <bunny-big
      bunny="bunny">
      </bunny-big>
    </li>
  </ul>
  </section>
</article>
