
<section  ng-init="view = 'text'">
  <button ng-class="button" ng-click="view = 'text'">BunnyLinks</button>
  <button ng-class="button" ng-click="view = 'thumbs'">BunnyThumbs</button>
  <button ng-class="button" ng-click="view = 'big'">BunnyBig</button>

</section>

<section>
  <ul ng-show="view === 'text'">
    <li ng-repeat="bunny in app.bunnies">
      <bunny-text
        bunny="bunny">
      </bunny-text>
    </li>
    
  </ul>

  <ul ng-show="view === 'thumbs'">
    <li ng-repeat="bunny in app.bunnies">
      <bunny-thumbs
        bunny="bunny">
      </bunny-thumbs>
    </li>
    
  </ul>

  <ul ng-show="view === 'big'">
    <li ng-repeat="bunny in app.bunnies">
      <bunny-big
        bunny="bunny"
        remove="app.remove">
      </bunny-big>
    </li>
    
  </ul>
</section>

<bunnify
  bunny="bunny"
  add="app.add">
</bunnify>

