html, body {
  margin: 0;
  padding: 0
}

body {
  font-family: sans-serif;
  color: darkgray;
  background-color: powderblue;
}

article {
  margin: 0 auto;
  padding: 3%;
  min-height: 1000px;
  max-width: 65%;
  overflow: hidden;
  background-color: darkblue;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: darkturquoise;
}

section {
  margin: 0 auto;
  width: max-content;
}