@import 'b-radius';
@import 'hover';

:local(.thumbs > span > a > img) {
  margin: auto;
  border: solid black 1px;
  @include b-radius(50%);
  height: 100px;
  width: 100px;
  object-fit: cover;

  &:hover { @include hover }
}
