html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: Calibri, Helvetica, sans-serif;
  color: #f2f2f2;
  background-color: powderblue; }

article {
  position: relative;
  margin: 0 7% auto auto;
  padding: 3% 3% 20% 3%;
  min-height: 1000px;
  max-width: 60%;
  overflow: scroll;
  background-color: rgba(0, 0, 139, 0.5);
  box-shadow: 0 0 15px #000033; }

h1 {
  text-align: center; }

h5 {
  margin-top: 1.5rem;
  margin-bottom: 0.35rem;
  font-weight: bold; }

ul {
  list-style: none; }

a {
  color: darkturquoise; }

section {
  margin: 0 auto;
  width: max-content;
  max-width: 100%; }
._2JrohgJKAbWbELDYyENSZR {
  position: absolute;
  max-width: none;
  margin: 0.25rem auto auto 1rem;
  padding: 0.5rem;
  overflow: hidden;
  background-color: rgba(0, 0, 139, 0.5);
  box-shadow: 0 0 15px darkturquoise;
  border: 1px solid #f2f2f2;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  border-radius: 2%; }
  ._2JrohgJKAbWbELDYyENSZR:hover {
    box-shadow: 0 0 15px #f2f2f2; }

._2JrohgJKAbWbELDYyENSZR > div {
  position: relative;
  height: content-max; }

._2JrohgJKAbWbELDYyENSZR > div > h4 {
  margin: .25rem auto;
  float: right; }

._2JrohgJKAbWbELDYyENSZR > div > div > label {
  float: right; }

._2JrohgJKAbWbELDYyENSZR > div > div > label > input {
  margin: 0.5rem; }

._2JrohgJKAbWbELDYyENSZR > div > button {
  float: right; }
.tOB100066YCkd8sj0ot9b {
  margin: 0;
  max-width: none;
  color: darkturquoise;
  text-shadow: 1px 1px 5px #f2f2f2; }

.tOB100066YCkd8sj0ot9b > ul {
  padding: 0;
  margin: 1.5rem; }

.tOB100066YCkd8sj0ot9b ul > h4 {
  margin: 4rem 0 0.5rem 0; }

._3Gn2YHVCKzl-PSWw5roVGE {
  margin: auto auto auto 2rem; }
button.active {
  border: solid darkturquoise 1px;
  box-shadow: 0 0 15px darkturquoise;
  -webkit-border-radius: 12%;
  -moz-border-radius: 12%;
  -ms-border-radius: 12%;
  -o-border-radius: 12%;
  border-radius: 12%; }

.sidebar {
  position: fixed;
  height: 1000px;
  width: 21%;
  overflow: scroll;
  background-color: rgba(0, 206, 209, 0.15);
  box-shadow: 1px 1px 15px #f2f2f2; }
.hD3TwFKrWbGwkRMjRfU5u {
  border: solid black 1px;
  max-width: 100%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
  border-radius: 1%; }
  .hD3TwFKrWbGwkRMjRfU5u:hover {
    border: solid darkturquoise 1px;
    box-shadow: 0 0 15px darkturquoise; }

._3Wl9r3BXN6GyD2rXZrBlnM {
  font-size: 0.85rem;
  font-weight: lighter; }

.UMLYVgKUJUxMRtJ1MPisb {
  font-size: 0.65rem;
  font-weight: lighter; }

._1VN-smvGlmn8_CK-jOupZN {
  margin: auto auto auto 2em; }
._3EGr0fZdTWPc1HQibwvMVY > span > a > img {
  margin: auto;
  border: solid black 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover; }
  ._3EGr0fZdTWPc1HQibwvMVY > span > a > img:hover {
    border: solid darkturquoise 1px;
    box-shadow: 0 0 15px darkturquoise; }
button:active {
  border: solid darkturquoise 1px;
  box-shadow: 0 0 15px darkturquoise;
  -webkit-border-radius: 12%;
  -moz-border-radius: 12%;
  -ms-border-radius: 12%;
  -o-border-radius: 12%;
  border-radius: 12%; }
._263XriZiUZdRSiODQqMoEI {
  position: absolute;
  margin: 3rem auto auto 3rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  border-radius: 2%; }
  ._263XriZiUZdRSiODQqMoEI:hover {
    border: solid darkturquoise 1px;
    box-shadow: 0 0 15px darkturquoise; }

._263XriZiUZdRSiODQqMoEI > div {
  position: relative;
  height: content-max; }

._263XriZiUZdRSiODQqMoEI > div > h4 {
  margin: .25rem auto;
  float: right; }

._263XriZiUZdRSiODQqMoEI > div > div > label {
  float: right; }

._263XriZiUZdRSiODQqMoEI > div > div > label > input {
  margin: 0.5rem; }

._263XriZiUZdRSiODQqMoEI > div > button {
  float: right; }

/*# sourceMappingURL=main.css.map*/