html, body {
  margin: 0;
  padding: 0
}

body {
  font-family: Calibri, Helvetica, sans-serif;
  color: #f2f2f2;
  background-color: powderblue;
}

article {
  position: relative;
  margin: 0 7% auto auto;
  padding: 3% 3% 20% 3%;
  min-height: 1000px;
  max-width: 60%;
  overflow: scroll;
  background-color: rgba(0, 0, 139, 0.5);
  box-shadow: 0 0 15px rgb(0, 0, 51);
}

h1 {
  text-align: center;
}

h5 {
  margin-top: 1.5rem;
  margin-bottom: 0.35rem;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  color: darkturquoise;
}

section {
  margin: 0 auto;
  width: max-content;
  max-width: 100%;

}
