:local(.bunnify){
  font-family: sans-serif;
  margin: 3em auto auto 3em;
  border-top: 1px solid lightgray;
}

:local(.bunnify > h4){
  margin: .25em auto;
  float: right;
}

:local(.bunnify > div > label){
  float: right;
}

:local(.bunnify > div > label > input){
  margin: 0.5em;
}

:local(.bunnify > button){
  float: right;
}
