@import 'b-radius';
@import 'hover';

:local(.bunnify){
  position: absolute;
  margin: 3rem auto auto 3rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  @include b-radius(2%);
  
  &:hover {@include hover;}
}

:local(.bunnify > div) {
  position: relative;
  height: content-max;
}

:local(.bunnify > div > h4) {
  margin: .25rem auto;
  float: right;
}

:local(.bunnify > div > div > label) {
  float: right;
}

:local(.bunnify > div > div > label > input) {
  margin: 0.5rem;
}

:local(.bunnify > div > button) {
  float: right;
}
